
@font-face {
    font-family: 'AvenirNext';
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight:400;
}

@font-face {
    font-family: 'AvenirNext';
    src: url("../assets/fonts/Alternative/AvenirNextLTProBold.woff") format("woff"),
         url("../assets/fonts/Alternative/AvenirNextLTProBold.woff2") format("woff2");
    font-weight:700;
        
}

@font-face {
    font-family: 'AvenirNext';
    src: url("../assets/fonts/Alternative/AvenirNextLTProDemi.woff") format("woff"),
         url("../assets/fonts/Alternative/AvenirNextLTProDemi.woff2") format("woff2");
    font-weight:600;
}

