@use './typography' as *;
@use './mixins' as *;
@use './variables' as *;

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
   
}

body{
    font-family: 'Avenir';
}

h1{
    font-size:24px;
    line-height: 32px;
    font-weight:700;

    @include tablet{
        font-size:60px;
        line-height: 68px;
        font-weight:700;
    }
}

h2{
    font-size:24px;
    line-height: 32px;
    font-weight:700;

    @include tablet{
        font-size:36px;
        line-height: 44px;
        font-weight:700;
    }

}

h3{

    font-size:14px;
    line-height: 22px;
    font-weight:600;

    @include tablet{
        font-size:24px;
        line-height: 32px;
        font-weight: 600;
    }
}

.header{
    background-color: $color-primary-black;
    
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary-white;
    
    @include desktop {
        flex-direction: row;
    }

    @include tablet {
        flex-direction: row;
    }   
    

    &__logo{
        @include tablet {
            margin-right: 30px;
            padding: 25px 30px 27px;
        }   
    }

    &__links {
        display: flex;
        width: 100%;
        justify-content: space-around;
            
        @include tablet {
          justify-content: flex-start;
        }   
        
        @include desktop {
            justify-content: unset;
        }
    }
    
    &_link {
        width: 100%;
        text-align: center;
        padding: 10px 10px;
        
        @include tablet {
            padding: 30px 30px 26px;
            width: auto;
          }   

        &.active{
            border-bottom: 5px solid $color-primary-white;
        }
    }

    &__logo{
        width: 45%;
        padding-bottom:16px;
        padding-top:16px;

    //     @include tablet {
            
    //       } 
    // }
    }
}


footer{
    background-color: $color-primary-black;
    color: $color-primary-white;
    display: flex;
    flex-direction: column;
    padding: 5%;

    p{
        font-size:13px;
        line-height: 18px;

        @include tablet{
            font-size: 14px;
            line-height: 20px;

        }
    }    

}



.footer{
    &__heading {
        
        @include tablet{
            display:flex;
            padding-left: 16px;
            align-items: baseline;
        }

        &-social{
            display: flex;
            flex-direction: row;

            @include tablet{
                padding-left: 16px;
            }

            &-icon{
                @include tablet{
                    padding: 0 10px;
                    margin: 0 10px;
                    img{
                        height: 30px;
                    }
                }
            }
        }
    }

    &__management{
        padding: 8px 8px 64px 0;    
        
        @include tablet{
            display: flex;
            justify-content: space-between;
            padding: 8px 8px 56px 0;
        }
        &-info{
            padding: 8px 0 8px 0;

            @include tablet{
                padding: 0 16px;
                width: 30%;
            }
        }

        &-name{
            padding: 8px 0; 
            font-weight: 600;

            @include tablet{
                padding: 16px 0;
            }
        }

        &-location{
            padding: 8px 0;

            @include tablet{
                padding: 16px 0;
            }
        }

        &-email{
            padding: 8px 0 16px 0;

            @include tablet{
                padding: 16px 0;
            }
        }
        
    }

    &__logo1{
        display: none;

        @include tablet{
            display:flex;
            width: 16%;
            margin-left:auto;
        }

    }

    &__logo2{
        padding: 0 0 16px 0;

        @include tablet{
            display:none;
        }

    }

    &__copyright {
        padding: 8px 0 16px 0;
        font-weight: 600;

        @include tablet{
            margin-left: 16px;
        }
    }
}

