@use './typography' as *;
@use './mixins' as *;
@use './variables' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Avenir';
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

}

h3 {

    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

.header {
    background-color: $color-primary-black;

}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;



    @include tablet {
        flex-direction: row;
        padding: 1% 0%;
    }


    &__logo {
        padding: 1rem 0;

        img {
            height: 2.5rem;

            @include tablet {
                height: 1.875rem;

            }
        }

        @include tablet {
            margin-right: 1.875rem;
            padding: 1.25rem 1.875rem 1.25rem 6rem;
        }

    }

    &__links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style-type: none;

        @include tablet {
            justify-content: flex-start;
        }

        @include desktop {
            justify-content: unset;
        }


    }



    ul {
        width: 100%;
        text-align: center;
        padding: .625rem 0 0 0;

        @include tablet {
            padding: 1.875rem 0rem 1.625rem;
            width: auto;
        }

        @include desktop {
            padding: 1.875rem 1rem 1.625rem;
            width: auto;
        }

    }

    &__item {
        width: 50%;

        @include tablet {
            padding-left: 3.125rem;

            .active {
                border-bottom: .3125rem solid $color-primary-white;
            }

        }
    }

    .active {
        border-bottom: .3125rem solid $color-primary-white;
        font-weight: 600;

        @include tablet {
            border-bottom: none;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-secondary-mercury;

        &.active2 {
            @include tablet {
                padding-bottom: 1.875rem;
                color: $color-primary-white;
                border-bottom: .38rem solid $color-primary-white;
            }

            @include desktop {
                padding-bottom: 2.23rem;
                color: $color-primary-white;
                border-bottom: .38rem solid $color-primary-white;

            }
        }

        &:hover {
            width: 50%;
            transition: border-bottom .5s;
            color: $color-primary-white;
            border-bottom: .38rem solid $color-primary-white;
            font-weight: 400;

            @include tablet {
                padding-bottom: 1.875rem;
            }

            @include desktop {
                padding-bottom: 2.23rem;
                border-bottom: .38rem solid $color-primary-white;
            }
        }

    }


}

footer {
    background-color: $color-primary-black;
    color: $color-primary-white;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 5%;

    @include desktop {
        padding: 5% 5% 2% 5%;
        ;
    }

    p {
        font-size: .8125rem;
        line-height: 1.125rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;

        }
    }

    h2 {
        font-weight: 600;
    }


}



.footer {
    &__heading {

        @include tablet {
            display: flex;
            padding-left: 1rem;
            align-items: baseline;
        }

        &-social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 3% 52% 0% 0%;

            @include tablet {
                justify-content: revert;
                padding: 0% 0% 0% 1rem;
            }

            @include desktop {
                padding: 0% 0% 0% 2.25rem;
            }

            &-icon {
                @include tablet {
                    padding: 0 .625rem;
                    margin: 0 .625rem;

                    img {
                        height: 1.875rem;
                    }
                }
            }
        }
    }

    &__management {
        padding: .5rem .5rem 4rem 0;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: .5rem .5rem 3.5rem 0;
        }

        @include desktop {
            justify-content: revert;
        }

        &-info {
            padding: .5rem 0 .5rem 0;

            @include tablet {
                padding: 0 1rem;
                width: 30%;
            }
        }

        &-name {
            padding: .5rem 0;
            font-weight: 600;

            @include tablet {
                padding: 1rem 0;
            }
        }

        &-location {
            padding: .5rem 0;

            @include tablet {
                padding: 1rem 0;
            }
        }

        &-email {
            padding: .5rem 0 1rem 0;

            @include tablet {
                padding: 1rem 0;
            }
        }

    }

    &__logo1 {
        display: none;

        @include tablet {
            display: flex;
            width: 16%;
            margin-left: auto;
        }

    }

    &__logo2 {
        padding: 0 0 1rem 0;
        width: 30%;

        @include tablet {
            display: none;
        }

    }

    &__copyright {
        padding: .5rem 0 1rem 0;
        font-weight: 600;

        @include tablet {
            margin-left: 1rem;
        }
    }
}