@use 'variables' as *;

@mixin mobil {
  @media screen and (max-width:$tablet-breakpoint) {
    @content;

  }
}

@mixin tablet {
  @media screen and (min-width:$tablet-breakpoint) {
    @content;

  }
}

@mixin desktop {
  @media screen and (min-width:$desktop-breakpoint) {
    @content;
  }
}

@mixin padding-bottom5 {
  padding-bottom: $padding-bottom-5;

}

@mixin shows-word {
  color: $color-primary-silver;
  font-size: $p-size-mobil;
  padding-bottom: $padding-bottom-2;

}

@mixin shows-detail {
  font-size: $subheader-mobil;
}

@mixin padding-sides {
  padding-left: 5%;
  padding-right: 5%;
}