@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;


body{
    font-family: 'Avenir';
}

img {
    width: 100%;
    height: auto;
}

h1{
    font-size:1.5rem;
    line-height: 2rem;
    font-weight:700;

    @include tablet{
        font-size:3.75rem;
        line-height: 4.25rem;
        font-weight:700;
    }
}

h2{
    font-size:1.5rem;
    line-height: 2rem;
    font-weight:700;

    @include tablet{
        font-size:2.25rem;
        line-height: 2.75rem;
        font-weight:700;
    }

}

h3{

    font-size:.875rem;
    line-height: 1.375rem;
    font-weight:600;

    @include tablet{
        font-size:1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

.hero{
    background-image: url(../assets/images/hero-bio.jpg);
    color:$color-primary-white;
    opacity: calc(90%);
    background-size: cover;
    background-position: center;
    width: 100%;
    position:relative;

    @include tablet{
        height: 28.3125rem;
        background-position: bottom;
    }

    @include desktop{
        height: 39.75rem;
        background-position: center;
    }
    
    &__overlay{
        background: $color-secondary-darkblack;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 30%;
        z-index: 0;
    }
    & h1{
        padding: 35% 0% 30% 5%;
        position:relative;
        z-index:1;

        @include tablet{
            padding: 26% 0% 0% 5%;
        }
    }

}

.main{
    padding:5%;

    @include desktop{
        padding:8% 8% 0% 8%;
    }
    
    p{
        font-size:.8125rem;
        line-height: 1.125rem;
        font-weight: 400;

        @include tablet{
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 400;

        }
    }
    h2{
        @include tablet{
            padding: 16px 0;
        }
    }
    
    &__quote{
        padding-bottom: 5%;
        padding-top: 5%;
        
        & h3{
            padding: 0 0 3% 0;
        }

        @include desktop{
            padding-right: 22.0625rem;
        }
    }


    &__text{
        display:flex;
        flex-direction: column;

        &-column{
            display: flex;
            padding: 0px 1.5rem;
            
            @include tablet{
                padding:0px;
            }
        
        }
        }
        
        
        & p{
            padding: 4% 2.4375rem 4% 0;

        }
    }
    
       



.gallery {
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: $color-secondary-alabaster;


    @include desktop{
       padding: 5rem 3rem 0rem 3rem;

    }

    & h2{
        
        @include tablet{
            padding: 2.18rem 0rem 1rem 1rem;
        }
        @include desktop{
            padding-left: 2rem;
        }
    }
    
    &__images {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    &__image {
        margin: 2%;
        background-color:$color-secondary-mercury;
        width: 96%;

        @include tablet {
            width: 29.33%;
        }

    }
}

