@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;


body {
    font-family: 'Avenir';
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
    }

}

h3 {

    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }
}

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    color: $color-primary-white;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:20rem;
    position: relative;

    @include tablet {
        height: 28.3125rem;
        background-position: bottom;
    }

    @include desktop {
        height: 39.75rem;
        background-position: center;
    }

    &__overlay {
        background: $color-primary-black;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 50%;
        z-index: 0;
    }

    & h1 {
        padding: 25% 0% 30% 5%;
        position: relative;
        z-index: 1;
        font-weight: 600;
        font-size: 30px;

        @include tablet {
            padding: 26% 0% 0% 5%;
        }
    }

}

.main {
    padding: 5%;

    @include desktop {
        padding: 8% 8% 0% 8%;
    }

    p {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;

        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 400;

        }
    }

    h2 {
        @include padding-bottom5;
        @include tablet {
            padding: 16px 0;
        }
    }

    &__quote {
        padding-bottom: 5%;
        padding-top: 5%;

        & h3 {
            padding: 0 0 3% 0;
        }

        @include desktop {
            padding-right: 22.0625rem;
        }
    }


    &__text {
        display: flex;
        flex-direction: column;

        &-column {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
            }

        }

        & h3 {
            padding: 0 0 4% 4%;
        }
    }

    
    & p {
        padding-top: 4% ;

        @include tablet{
            padding: 0 4%;
        }

    }
}



.gallery {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $color-secondary-alabaster;


    @include desktop {
        padding: 5rem 3rem 0rem 3rem;

    }

    & h2 {

        @include tablet {
            padding: 2.18rem 0rem 1rem 1rem;
        }

        @include desktop {
            padding-left: 2rem;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__image {
        margin: 2%;
        background-color: $color-secondary-mercury;
        width: 96%;

        @include tablet {
            width: 29.33%;
        }

    }
}

.convers {

    &__title {
        font-weight: 600;
        padding: 0% 5% 5% 5%;

    }
}

.form {
    display: flex;
    color: $color-primary-silver;
    font-size: $p-size-mobil;
    justify-content: space-evenly;
    margin: 0% 2%;
    border-bottom: .0625rem $color-secondary-mercury solid;
    @include padding-bottom5;

    @include tablet{
        margin: 0% 9%;
        border-bottom:none;
    }


    &__image {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;

        @include tablet{
            width: 3rem;
            height: 3rem;
            
        }
    }

    &__info-container {
        display: flex;
        flex-direction: column;


        &-name {
            display: flex;
            flex-direction: column;
            padding-bottom: 5%;

            & p {
                padding-bottom: 2%;
            }

            &--input {
                padding: .5rem 0;
                color: $color-secondary-mercury;
                width: 75vw;
                border-color: $color-secondary-mercury;
                background-color: $color-secondary-alabaster;
                border-radius: .25rem;
                border-width: .009rem;

                @include tablet{
                    width: 65vw;
                }
                &::placeholder {
                    color: $color-primary-black;
                    font-family: Avenir;
                    padding: 2%;


                }

            }
        }

        &-comment {
            display: flex;
            flex-direction: column;
            padding-bottom: 5%;

            & p {
                padding-bottom: 2%;
            }

            &--textarea {
                color: $color-secondary-mercury;
                width: 75vw;
                border-color: $color-secondary-mercury;
                border-radius: .25rem;
                background-color: $color-secondary-alabaster;
                height: 8rem;

                @include tablet{
                    height: 5rem;
                    width: 65vw;
                }

                &::placeholder {
                    color: $color-primary-black;
                    padding: .5rem;
                    font-family: Avenir;
                }
            }

        }

    }

    &__wrapper{
        @include tablet{
            padding-left:21.5625rem;
        }
    }
    &__button {
        background-color: $color-primary-black;
        color: $color-primary-white;
        border: none;
        height: 2.5rem;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: .625rem;
        

        &:hoover{
            background-color: $color-secondary-darkblack;

        }

        @include tablet{
            width: 9.375rem;
        }
    }
}

.comments{
    
    margin: 0% 2%;

    @include tablet{
        margin: 0 12%;
        border-top: .0625rem $color-secondary-mercury solid;
    }
}
.comment{
    border-bottom: .0625rem $color-secondary-mercury solid;
    display:flex;
    flex-direction: row;
    padding: 4% 1%;

    

    &__image{
        border-radius: 50%;
        width: 7.5rem;
        height: 2.25rem;
        color:transparent;
        background-color:$color-secondary-mercury;
        border:none;
        
        @include tablet{
            height: 3rem;
            width: 8rem;
        }

        &::before {
            content: "Image not found";
            display: block;
            text-align: center;
            border-radius: 50%;
 
          }
    }

    &__section{
        padding-left: 5%;
    }

    &__title{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2%;
    }

    &__name{
        font-weight: 600;
    }

    &__date{
        color:$color-primary-silver
        ;
    }
}