@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir";
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
  }
}
.nav__logo {
  padding: 16px 0;
}
.nav__logo img {
  height: 40px;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 30px;
    padding: 20px 30px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin-right: 30px;
    padding: 20px 30px 20px 96px;
  }
}
.nav__links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .nav__links {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .nav__links {
    justify-content: unset;
  }
}
.nav_link {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
}
@media screen and (min-width: 768px) {
  .nav_link {
    padding: 30px 16px 26px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .nav_link {
    padding: 30px 16px 26px;
    width: auto;
  }
}
.nav_link.active {
  border-bottom: 5px solid #ffffff;
}

footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
footer p {
  font-size: 13px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  footer p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__heading {
    display: flex;
    padding-left: 16px;
    align-items: baseline;
  }
}
.footer__heading-social {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .footer__heading-social {
    padding-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__heading-social-icon {
    padding: 0 10px;
    margin: 0 10px;
  }
  .footer__heading-social-icon img {
    height: 30px;
  }
}
.footer__management {
  padding: 8px 8px 64px 0;
}
@media screen and (min-width: 768px) {
  .footer__management {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 56px 0;
  }
}
.footer__management-info {
  padding: 8px 0 8px 0;
}
@media screen and (min-width: 768px) {
  .footer__management-info {
    padding: 0 16px;
    width: 30%;
  }
}
.footer__management-name {
  padding: 8px 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__management-name {
    padding: 16px 0;
  }
}
.footer__management-location {
  padding: 8px 0;
}
@media screen and (min-width: 768px) {
  .footer__management-location {
    padding: 16px 0;
  }
}
.footer__management-email {
  padding: 8px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .footer__management-email {
    padding: 16px 0;
  }
}
.footer__logo1 {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo1 {
    display: flex;
    width: 16%;
    margin-left: auto;
  }
}
.footer__logo2 {
  padding: 0 0 16px 0;
}
@media screen and (min-width: 768px) {
  .footer__logo2 {
    display: none;
  }
}
.footer__copyright {
  padding: 8px 0 16px 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-left: 16px;
  }
}

body {
  font-family: "Avenir";
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  color: #ffffff;
  opacity: 90%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 240px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 453px;
    background-position: bottom;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 636px;
    background-position: center;
  }
}
.hero__overlay {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 30%;
  z-index: 0;
}
.hero h1 {
  padding: 35% 0% 30% 5%;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero h1 {
    padding: 26% 0% 0% 5%;
  }
}

.main {
  padding: 5%;
}
.main p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .main h2 {
    padding: 16px;
  }
}
.main__quote {
  padding-bottom: 5%;
  padding-top: 5%;
}
.main__quote h3 {
  padding: 0 0 3% 0;
}
.main__text {
  display: flex;
  flex-direction: column;
}
.main__text-column {
  display: flex;
  padding: 0px 24px;
}
.main p {
  padding: 4% 39px 4% 0;
}

.gallery {
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #FAFAFA;
}
.gallery__images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery__image {
  margin: 2%;
  background-color: grey;
  width: 96%;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 29.33%;
  }
}/*# sourceMappingURL=bio.css.map */