@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;


.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    color: $color-primary-white;
    opacity: calc(90%);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;

    @include tablet {
        height: 28.3125rem;
        background-position: bottom;
    }

    @include desktop {
        height: 39.75rem;
        background-position: center;
    }

    &__overlay {
        background: $color-secondary-darkblack;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 30%;
        z-index: 0;
    }

    &__main {
        position: relative;

        & iframe {
            padding: 7% 5% 8% 5%;

            @include tablet {
                padding: 5% 47% 1% 5%;
            }

            @include desktop {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                padding:0%;
                width:50%;
                height:99%;
            }


        }

        &--header {
            @include desktop {
                display: flex;
                flex-direction: column;
            }
        }

        @include desktop{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            align-content: center;
            padding-top: 14%;
            padding-left: 6%;
            padding-right: 15%;
        }

    }

    &__main--title {
        padding: 2% 20% 0% 5%;
        position: relative;
        z-index: 1;
        font-weight: 600;

        @include tablet {
            font-size: 3.5625rem;
            padding: 0% 20% 0% 5%;
        }
    }

    &__main--subtitle {
        font-weight: normal;
        font-size: 1.2rem;
        position: relative;
        padding: 10% 0% 5% 5%;

        @include tablet {
            font-size: 1.6875rem;
            padding: 6% 0% 4% 5%;
            font-weight: 600;
        }

    }

}

.shows {
    &__section {
        @include desktop {
            padding: 0% 13% 0% 25%;
        }
    }

    &__hidden {
        @include mobil {
            display: none;
        }

        &--title {
            padding: 5% 5% 3% 5%;
            font-weight: 600;
            font-size: 25px;

            @include desktop{
                padding: 5% 5% 0% 5%;
                font-weight: 600;
                font-size: 46px;
            }
        }

        &--subtitles {
            display: flex;
            flex-direction: row;
            color: $color-primary-silver;
            font-size: 14px;
            flex-wrap: wrap;
            padding: 0% 33% 2% 10px;
            justify-content: space-around;


            &-date {
                padding-right: 26%;

            }

            &-venue {
                padding-right: 16%;

            }

            @include desktop {
                justify-content: center;
                display: flex;
                flex-direction: row;
                color: #afafaf;
                font-size: 14px;
                flex-wrap: wrap;
                padding: 0% 26% 2% 17.5%;
            }

        }
    }

    &__header {
        padding: 8% 5% 0 5%;

        @include tablet {
            display: none;
        }


        &--title {
            font-weight: 600;
            font-size: 25px;

            @include tablet {
                display: none;
            }

        }

    }


    &__container {
        padding: 6% 0 8% 0;
        border-bottom: .0625rem $color-secondary-mercury solid;



        @include tablet {
            display: flex;
            padding: 2% 0 0 0;
            justify-content: space-between;
        }

        &--subtitle {
            padding-bottom: 2%;
            @include padding-sides;
            color: $color-primary-silver;
            font-size: 13px;

            @include tablet {
                display: none
            }
        }

        &--detail {
            font-size: 14px;
            @include padding-bottom5;
            @include padding-sides;

            &--bold {
                font-weight: 600;
                @include padding-bottom5;
                @include padding-sides;
            }

            // &--word{
            //     @include shows-word;

            //     }

            //  &--detail {
            //     @include shows-detail;
            //     font-weight:600;
            //     }


        }





        &--button {
            @include padding-sides;

            &--style {
                background-color: $color-primary-black;
                color: $color-primary-white;
                border: none;
                height: 2.5rem;
                width: 100%;
                border-radius: .25rem;
                cursor: pointer;
                text-decoration: none;
                text-align: center;
                line-height: .625rem;

                &:hoover {
                    background-color: $color-secondary-darkblack;

                }

                @include tablet {
                    padding: 0 1.5rem;


                }
            }
        }
    }

}