@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir";
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    padding: 1% 0%;
  }
}
.nav__logo {
  padding: 1rem 0;
}
.nav__logo img {
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .nav__logo img {
    height: 1.875rem;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 1.875rem;
    padding: 1.25rem 1.875rem 1.25rem 6rem;
  }
}
.nav__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav__links {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .nav__links {
    justify-content: unset;
  }
}
.nav ul {
  width: 100%;
  text-align: center;
  padding: 0.625rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .nav ul {
    padding: 1.875rem 0rem 1.625rem;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .nav ul {
    padding: 1.875rem 1rem 1.625rem;
    width: auto;
  }
}
.nav__item {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding-left: 3.125rem;
  }
  .nav__item .active {
    border-bottom: 0.3125rem solid #ffffff;
  }
}
.nav .active {
  border-bottom: 0.3125rem solid #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav .active {
    border-bottom: none;
  }
}
.nav__link {
  text-decoration: none;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .nav__link.active2 {
    padding-bottom: 1.875rem;
    color: #ffffff;
    border-bottom: 0.38rem solid #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link.active2 {
    padding-bottom: 2.3rem;
    color: #ffffff;
    border-bottom: 0.35rem solid #ffffff;
  }
}
.nav__link:hover {
  width: 50%;
  transition: border-bottom 0.5s;
  color: #ffffff;
  border-bottom: 0.38rem solid #ffffff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav__link:hover {
    padding-bottom: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link:hover {
    padding-bottom: 2.3rem;
    border-bottom: 0.35rem solid #ffffff;
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: 5%;
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 5% 5% 2% 5%;
  }
}
footer p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
footer h2 {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .footer__heading {
    display: flex;
    padding-left: 1rem;
    align-items: baseline;
  }
}
.footer__heading-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 52% 0% 0%;
}
@media screen and (min-width: 768px) {
  .footer__heading-social {
    justify-content: revert;
    padding: 0% 0% 0% 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__heading-social {
    padding: 0% 0% 0% 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__heading-social-icon {
    padding: 0 0.625rem;
    margin: 0 0.625rem;
  }
  .footer__heading-social-icon img {
    height: 1.875rem;
  }
}
.footer__management {
  padding: 0.5rem 0.5rem 4rem 0;
}
@media screen and (min-width: 768px) {
  .footer__management {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 3.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__management {
    justify-content: revert;
  }
}
.footer__management-info {
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__management-info {
    padding: 0 1rem;
    width: 30%;
  }
}
.footer__management-name {
  padding: 0.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__management-name {
    padding: 1rem 0;
  }
}
.footer__management-location {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__management-location {
    padding: 1rem 0;
  }
}
.footer__management-email {
  padding: 0.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__management-email {
    padding: 1rem 0;
  }
}
.footer__logo1 {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo1 {
    display: flex;
    width: 16%;
    margin-left: auto;
  }
}
.footer__logo2 {
  padding: 0 0 1rem 0;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .footer__logo2 {
    display: none;
  }
}
.footer__copyright {
  padding: 0.5rem 0 1rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-left: 1rem;
  }
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  color: #ffffff;
  opacity: 90%;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 28.3125rem;
    background-position: bottom;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 39.75rem;
    background-position: center;
  }
}
.hero__overlay {
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 30%;
  z-index: 0;
}
.hero__main {
  position: relative;
}
.hero__main iframe {
  padding: 7% 5% 8% 5%;
}
@media screen and (min-width: 768px) {
  .hero__main iframe {
    padding: 3% 47% 3% 5%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__main iframe {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0%;
    width: 50%;
    height: 99%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__main--header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .hero__main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: center;
    padding-top: 14%;
    padding-left: 6%;
    padding-right: 15%;
  }
}
.hero__main--title {
  padding: 2% 20% 0% 5%;
  position: relative;
  z-index: 1;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__main--title {
    font-size: 3.5625rem;
    padding: 0% 20% 0% 5%;
  }
}
.hero__main--subtitle {
  font-weight: normal;
  font-size: 1.2rem;
  position: relative;
  padding: 10% 0% 5% 5%;
}
@media screen and (min-width: 768px) {
  .hero__main--subtitle {
    font-size: 1.6875rem;
    padding: 6% 0% 4% 5%;
    font-weight: 600;
  }
}

@media screen and (min-width: 1280px) {
  .shows__section {
    padding: 0% 13% 0% 25%;
  }
}
@media screen and (max-width: 768px) {
  .shows__hidden {
    display: none;
  }
}
.shows__hidden--title {
  padding: 5% 5% 3% 5%;
  font-weight: 600;
  font-size: 25px;
}
@media screen and (min-width: 1280px) {
  .shows__hidden--title {
    padding: 5% 5% 0% 5%;
    font-weight: 600;
    font-size: 46px;
  }
}
.shows__hidden--subtitles {
  display: flex;
  flex-direction: row;
  color: #afafaf;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 0% 33% 2% 10px;
  justify-content: space-around;
}
.shows__hidden--subtitles-date {
  padding-right: 26%;
}
.shows__hidden--subtitles-venue {
  padding-right: 16%;
}
@media screen and (min-width: 1280px) {
  .shows__hidden--subtitles {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #afafaf;
    font-size: 14px;
    flex-wrap: wrap;
    padding: 0% 26% 2% 17.5%;
  }
}
.shows__header {
  padding: 8% 5% 0 5%;
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: none;
  }
}
.shows__header--title {
  font-weight: 600;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .shows__header--title {
    display: none;
  }
}
.shows__container {
  padding: 6% 0 8% 0;
  border-bottom: 0.0625rem #E1E1E1 solid;
}
@media screen and (min-width: 768px) {
  .shows__container {
    display: flex;
    padding: 2% 0 0 0;
    justify-content: space-between;
  }
}
.shows__container--subtitle {
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  color: #afafaf;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .shows__container--subtitle {
    display: none;
  }
}
.shows__container--detail {
  font-size: 14px;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.shows__container--detail--bold {
  font-weight: 600;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.shows__container--button {
  padding-left: 5%;
  padding-right: 5%;
}
.shows__container--button--style {
  background-color: #323232;
  color: #ffffff;
  border: none;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 0.625rem;
}
.shows__container--button--style:hoover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .shows__container--button--style {
    padding: 0 1.5rem;
  }
}/*# sourceMappingURL=shows.css.map */